# Node dependencies
node_modules/
package.json
package-lock.json

# Test & utility scripts
test_script.js
replace_css.py
generate_pdf.py

# Local testing assets
TeamTNP2025.jpeg
Untitled design (1).png
dilip.jpeg
download.pdf
